/* Formatting for the login form */
body {
    background-color: #fff;
    font-family: 'Urbanist', sans-serif;
}

a {
    color: #000000;
}

.modal-dialog {
    border-radius: 2.1em;
    overflow: hidden;
    padding: .2em;
    background-color: #f8f8f8;
}

.modal-content {
    background-color: #ffffff;
    border-radius: 2.0em;

}

.modal-header {
    background-color: #eee;
    border-radius: 2.0em 2em 0 0;

}

.modal-footer {
    background-color: #eee;
    border-radius: 0 0 2.0em 2em;
}

.modal-title {
    font-size: 16px;
}

.username-input,
.password-input {
    background-color: #ffffff;
}

.myInput {
    outline-width: 0;
}

#btn-login {
    border-radius: .5em;
    background-color: #0b1b49;
    display: block;
    width: 100%;
    color: white;
    border: 0px none;
    height: 3em;
    font-size: large;
}

#btn-login:hover {
    background-color: #0b1b49;
    color: white;
}

#btn-login:disabled {
    border: 1px solid black;
    background-color: grey;
    color: white;
    padding: 15px;
    cursor: not-allowed;
}

.input-group-text {
    color: #535353;
    border: 0px solid white;
    background-color: #efefef;
}

.error {
    color: red;
    font-size: x-small;
}